<h1>Follow</h1>
<div class="col-xs-9">
<h2>Users</h2>
<!--users一覧 -->
<table class="table">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @user.followings.each do |user| %>
		<tr>
			<td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
			<td><%= user.name%></td>
			<td>
			  <a href="<%= following_user_path(@user) %>">
			  	フォロー数：
			    <strong id="following" class="stat">
			      <%= user.followings.count %>
			    </strong>
			  </a>
			</td>
		  <td>
			  <a href="<%= followers_user_path(@user) %>">
			  	フォロワー数：
			     <strong id="followers" class="stat">
			       <%= user.followers.count %>
			     </strong>
			  </a>
		  </td>

			<td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>